/* src/index.css */
html, body, #root { height: 100%; }
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Background animation */
body {
  @apply text-white;
  background: linear-gradient(-45deg, #0f0c29, #302b63, #24243e, #111827);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}